<footer class="footer bg-dark text-white mt-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-4">
                <h5>Urban Escape Rentals Pvt. Ltd.</h5>
                <p>123 Business Hub, 4th Floor<br>
                Cyber City, Gurugram<br>
                Haryana - 122002, India</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: support@urbanescaperentals.com<br>
                Phone: +91 1234567890</p>
            </div>
            <div class="col-md-4">
                <h5>Download Our App</h5>
                <a href="https://play.google.com/store/apps/details?id=com.urbanescaperentals.app" 
                   target="_blank" 
                   class="btn btn-outline-light">
                    <i class="fab fa-android me-2"></i>Get it on Google Play
                </a>
                <div class="mt-2">
                    <img src="/images/qr-code.png" alt="App QR Code" width="100" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="text-center pt-3 border-top">
            <p>&copy; <%= new Date().getFullYear() %> Urban Escape Rentals. All rights reserved.</p>
        </div>
    </div>
</footer>